@use "styles/variables" as v;
@use "styles/mixins" as m;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include m.from(v.$bp-desktop) {
    gap: 180px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 345px);
  justify-content: center;
  gap: v.$space-md;

  @include m.from(v.$bp-tablet-sm) {
    gap: v.$space-lg;
  }
}

.loadMoreWrapper {
  @include m.flex-center;
}

.state {
  @include m.flex-center;
  flex-direction: column;
  gap: v.$space-md;
  padding: v.$space-xxl v.$space-md;
  text-align: center;
  color: v.$color-text-muted;
}
