@use "styles/variables" as v;
@use "styles/mixins" as m;

.content {
  @include m.container;
  padding-block: v.$space-lg;
  color: v.$color-text-faint;
  font-size: v.$fs-xs;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
